@font-face {
  font-family: "Sofia Pro";
  src: url("./fonts/SofiaProRegular.woff") format(woff),
  url("./fonts/SofiaProRegular.woff2") format(woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Suisselntl";
  src: url("./fonts/suisseintl.woff") format(woff),
  url("./fonts/suisseintl.woff2") format(woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

*,
*::before,
*::after {
  box-sizing: border-box
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --colorLight: #ffffff;
  --colorDarkBlue: #01005B;
  --colorGray: #676869;
  --colorLightGray: #6C6C6C;
  --colorBlue: #2A2996;
  --maxWidthContainer: 1464px;
  --fontFamilyPrimary: "Sofia Pro";
  --fontFamily2nd: "Suisse Int'l";
  --font-weight: 400;
}

.container {
  max-width: var(--maxWidthContainer);
  padding-inline: 50px;
  margin-inline: auto;
}

.header {
  position: relative;
  z-index: 5;
}

.button-with-arrow {
  border: 0;
  padding: 20px 110px 15px 55px;
  font-family: var(--fontFamily2nd), sans-serif;
  font-weight: var(--font-weight);
  font-size: clamp(14px, 0.35vw + 12.88px, 18px);
  letter-spacing: 0.03em;
  color: #fff;
  border-radius: 5px;
  background-color: var(--colorDarkBlue);
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button-with-arrow:hover {
  scale: 1.05;
}

.button-with-arrow::after {
  content: "";
  position: absolute;
  width: 23px;
  height: 10px;
  top: 45%;
  transform: translateX(-45%);
  right: 65px;
  background: url("./images/header-icons/header-arrow.svg");
}

.header-advantages {
  font-family: var(--fontFamily2nd), sans-serif;
  font-size: 11px;

  line-height: 3.18182;
  letter-spacing: 0.08em;
  text-align: center;
  color: #565656;
  background-color: #f9f0e5;
  min-height: 36px;
  margin-bottom: 30px;
}

.header-main-wrapper {
  display: flex;
}

.header-benefits {
  margin-left: 46px;
}

.header-benefits-wrapper {
  padding-left: 6px;
  font-family: var(--fontFamilyPrimary), sans-serif;
  font-weight: var(--font-weight);
  font-size: 15px;
}

.header-benefits-wrapper h2{
  font-size: clamp(20px, 1.58vw + 14.95px, 38px);
  line-height: 1.18421;
  letter-spacing: 0.04em;
  color: var(--colorDarkBlue);
  margin-bottom: 25px;
}

.header-benefits > img {
  margin-bottom: 60px;
}

.header-benefits-list {
  display: flex;
  flex-direction: column;
}
.header-benefits-list-item {
  display: flex;
  line-height: 1.53333;
  letter-spacing: 0.03em;
  color: var(--colorGray);
  margin-bottom: 23px;
}

.header-benefits-list-item:last-child {
  margin-bottom: 40px;
}

.header-benefits-list-item span:first-of-type {
  display: inline-block;
  border-radius: 50%;
  height: 31px;
  aspect-ratio: 1;
  background-color: #f9f0e5;
  margin-right: 14px;
}

.header-benefits-list-item span:last-of-type {
  display: inline-block;
  line-height: 1.53333;
  letter-spacing: 0.03em;
  color: var(--colorGray);
  align-self: center;
}

.header-benefits-list-item--1 span:first-of-type,
.header-benefits-list-item--2 span:first-of-type,
.header-benefits-list-item--3 span:first-of-type{
  position: relative;
}

.header-benefits-list-item--1 span:first-of-type::before,
.header-benefits-list-item--2 span:first-of-type::before,
.header-benefits-list-item--3 span:first-of-type::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-benefits-list-item--1 span:first-of-type::before {
  height: 20.5px;
  aspect-ratio: 1;
  background: url("./images/header-icons/header-icons.svg") center/cover no-repeat;
}
.header-benefits-list-item--2 span:first-of-type::before {
  height: 15px;
  width: 19px;
  background: url("./images/header-icons/header-icons--2.svg") center/cover no-repeat;
}
.header-benefits-list-item--3 span:first-of-type::before {
  height: 13px;
  width: 14px;
  background: url("./images/header-icons/header-icons--3.svg") center/cover no-repeat;
}

.header-benefits-review-header {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.header-benefits-review-header img:first-of-type {
  margin-right: 14px;
}

.header-benefits-review-header img:last-of-type {
  margin-right: 7px;
}

.header-benefits-review-header span:first-of-type {
  color: var(--colorGray);
  margin-right: 20px;
}


.header-benefits-review-head-text {
  font-family: var(--fontFamily2nd), sans-serif;
  font-weight: var(--font-weight);
  font-size: 11px;
  line-height: 1.81818;
  letter-spacing: 0.02em;
  color: #828282;
}

.header-review-stars-and-name span{
  font-family: var(--fontFamilyPrimary), sans-serif;
  font-weight: var(--font-weight);
  font-size: 15px;
  line-height: 1.53333;
  letter-spacing: 0.03em;
  color: var(--colorGray);
}

.header-benefits-review {
  position: relative;
  z-index: 5;
  padding: 20px 16px;
  background-color: var(--colorLight);
  border-radius: 8px;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.08);
  margin-bottom: -76px;
}

.header-benefits-review-main-text {
  font-family: var(--fontFamily2nd), sans-serif;
  font-weight: var(--font-weight);
  font-size: 12px;
  line-height: 1.91667;
  letter-spacing: 0.04em;
  color: var(--colorGray);
}

.header-image {
  margin-top: 100px;
}

.header-benefits-button {
  margin-bottom: 46px;
}

.header-img-phone-version,
.header-img-double-version{
  display: none;
}

.header-image img {
  max-height: 100%;
  max-width: 725px;
}

.header-advantages span:not([class]) {
  display: inline-block;
  margin-inline: 6px;
  height: 8px;
  width: 1px;
  background-color: var(--colorLightGray);
}

.values {
  position: relative;
}

.values::before {
  position: absolute;
  pointer-events: none;
  background: linear-gradient(180deg, #f9f0e5 0%, rgba(249, 240, 229, 0.18) 43.05%, rgba(249, 240, 229, 0) 100%);
  content: "";
  top: 0;
  height: 530px;
  width: 100vw;
}

.values-brands-wrapper span {
  display: block;
  text-align: center;
}

.values-brands-wrapper {
  padding-top: 81px;
  margin-bottom: 110px;
}

.values-brands-list-slider {
  max-width: 1253px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 15px !important;
  position: relative;
}

.swiper-pagination-bullet-active {
  background-color: black;
}

.values-brands-list-pagination {
  display: flex;
  justify-content: center;
  margin-right: 5px;
}


.values-brands-list-wrapper {
  display: flex; align-items: center;
  margin-bottom: 12px;
}

.values-brands-list-item img {
  max-width: 100%;
  height: auto;
  max-height: 50px;

  display: block;
  object-fit: contain;
  margin: 0 auto;

  pointer-events: none;
  user-select: none;
}

.values-inform,
.values-brands-wrapper span {
  font-family: var(--fontFamilyPrimary), sans-serif;
  font-weight: var(--font-weight);
}

.values-brands-wrapper span {
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: #868787;
  margin-bottom: 15px;
}

.values-brands-list-pagination .swiper-pagination-bullet-active {
  background: #000000 !important;
}

.values-inform {
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: 0.04em;
  color: var(--colorDarkBlue);
  max-width: 570px;
  margin-right: auto;
  margin-left: 85px;
}


.values-inform-head-of-items {
  font-size: 22px;
  line-height: 1.09091;
}
.values-inform-items p{
  font-weight: 400;
  font-size: 15px;
  line-height: 1.53333;
  letter-spacing: 0.03em;
  color: #6c6c6c;
}

.values-inform-head-of-items span {
  display: inline-block;
  width: 42px;
  aspect-ratio: 1;
  background-color: #f9f0e5;
  border-radius: 50%;
  margin-right: 32px;
}

.values-inform-head-of-items {
  display: flex;
  align-items: center;
}

.values-inform-items p {
  padding-left: calc(32px + 42px);
  margin-bottom: 15px;
}

.values-inform h2{
  margin-bottom: 75px;
  font-size: clamp(26px, 1.65vw + 7.9px, 32px);
}

.values-mobile-title {
  display: none;
  font-family: var(--fontFamilyPrimary), sans-serif;
  font-weight: var(--font-weight);
  font-size: clamp(26px, 1.65vw + 7.9px, 32px);
  line-height: 1.30769;
  letter-spacing: 0.04em;
  text-align: center;
  color: #01005b;
  margin-bottom: 28px;
}

.values-inform-head-of-items--1 span,
.values-inform-head-of-items--2 span,
.values-inform-head-of-items--3 span,
.values-inform-head-of-items--4 span {
  position: relative;
}


.values-inform-head-of-items--1 span::after,
.values-inform-head-of-items--2 span::after,
.values-inform-head-of-items--3 span::after,
.values-inform-head-of-items--4 span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.values-inform-head-of-items--1 span::after {
  height: 19px;
  width: 25px;
  background: url("./images/values/1.svg") center/cover no-repeat;
}
.values-inform-head-of-items--2 span::after {
  height: 23px;
  aspect-ratio: 1;
  background: url("./images/values/2.svg") center/cover no-repeat;
}
.values-inform-head-of-items--3 span::after {
  height: 28px;
  aspect-ratio: 1;
  background: url("./images/values/3.svg") center/cover no-repeat;
}

.values-inform-head-of-items--4 span::after {
  height: 18px;
  width: 22px;
  background: url("./images/values/4.svg") center/cover no-repeat;
}

.values-slider-container {
  display: flex;
  align-items: center;
  position: relative;
}

.values-swiper {
  flex-grow: 1;
  position: relative;
  height: auto;
  min-width: 0;
  overflow: hidden;
}


.values-thumbs-swiper {
  position: absolute;
  bottom: 50px;
  left: 37.5%;
  transform: translateX(-50%);
  z-index: 10;
  width: auto;
  max-width: 75%;
}


.values-swiper-button-prev,
.values-swiper-button-next {
  position: static;
  margin: 0;
  color: #000;
}

.values-thumb-swiper-slide.swiper-slide-thumb-active img {
  outline: 2px solid #ffffff;
  outline-offset: -2px;
}

.values-inform-and-slider {
  display: flex;
}

.values-slider {
  max-width: 430px;
  width: 100%;
  padding-left: 30px;
}

.values-slider span {
  display: block;
  font-family: var(--fontFamily2nd), sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.69231;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--colorGray);
  transform: translateY(-20px);
}



.values-swiper-button-prev::after,
.values-swiper-button-next::after {
  content: "" !important;
  display: none !important;
}


.values-swiper-button-prev,
.values-swiper-button-next {
  background-image: none !important;
  color: transparent !important;

  width: 20px !important;
  height: 20px !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.values-swiper-button-prev {
  transform: translateX(-35px);
}
.values-swiper-button-next {
  transform: translateX(35px);
}

.values-swiper-button-prev svg,
.values-swiper-button-next svg {
  width: 100%;
  height: 100%;
  display: block;
}

.values-swiper-slide img {
  width: 100%;
  height: auto;
  aspect-ratio: 433 / 648;
  object-fit: cover;
  display: block;
}

.star-review {
  font-family: var(--fontFamily2nd), sans-serif;
  font-weight: var(--font-weight);
  font-size: 12px;
  margin-right: 15px;
  line-height: 1.66667;
  letter-spacing: 0.02em;
  color: #828282;
}

.values-button-and-start-mobile {
  display: none;
}

.values-inner {
  margin-bottom: 90px;
}

.story-image-mobile-version {
  display: none;
}

.story {
  background: #f0eeef;
}

.story-text-box h2,
.story-text-box p {
  font-family: var(--fontFamilyPrimary), sans-serif;
  font-weight: var(--font-weight);
}

.story-text-box h2 {
  font-size: clamp(26px, 0.583vw + 23.5px, 32px);
  line-height: 1.25;
  letter-spacing: 0.04em;
  color: var(--colorBlue);
  margin-bottom: 35px;
}

.story-text-box p {
  font-size: 15px;
  line-height: 1.53333;
  letter-spacing: 0.03em;
  color: #6c6c6c;
  margin-bottom: 30px;
}

.story-wrapper {
  display: flex;
}

.story-text-box {
  padding-left: 160px;
  padding-right: 50px;
  margin-top: 110px;
}


.story-img-wrapper {
  position: relative;
  padding-top: 130px;
  padding-bottom: 103px;
  padding-left: 75px;
}

.story-up-side-image {
  position: absolute;
  top: 80px;
  left: 0;
}
.story-down-side-image {
  position: absolute;
  bottom: 62px;
  right: -65px;
}

.story-button::after {
  display: none;
}

.story-img-box > h2 {
  display: none;
}

.story-button {
  margin-bottom: 20px;
}



.preferences-wrapper {
  padding: 75px 120px 74px;
}

.preferences-wrapper h2 {
  font-family: var(--fontFamilyPrimary), sans-serif;
  font-weight: var(--font-weight);
  font-size: 26px;
  line-height: 1.53846;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--colorDarkBlue);
  padding-bottom: 50px;
}


.preferences-slider-container {
  position: relative;
  margin-bottom: 50px;
}

.preferences-slider-wrapper {
  display: flex !important;
  flex-grow: 1;
}


.preferences-slider-slide {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center;
  aspect-ratio: 1;
  border: 1px solid #ededed;
  border-radius: 8px;
  padding: 10px;
}

.preferences-slider-slide--1 { background-color: #f0eeef; }
.preferences-slider-slide--2 { background: #f9f0e6; }


.preferences-slider-slide h3,
.preferences-slider-slide p {
  font-family: var(--fontFamilyPrimary), sans-serif;
  font-weight: var(--font-weight);
  text-align: center;
}

.preferences-slider-slide h3 {
  font-size: 22px;
  line-height: 1.81818;
  letter-spacing: 0.04em;
  color: var(--colorDarkBlue);
}

.preferences-slider-slide p {
  font-size: 15px;
  line-height: 1.53333;
  letter-spacing: 0.03em;
  color: var(--colorGray);
}

.preferences-slider-next,
.preferences-slider-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
}

.preferences-slider-next { right: -30px; }
.preferences-slider-prev { left: -30px; }

.preferences-button-donw-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.preferences-review-stars {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

.preferences-review-stars img {
  margin-right: 14px;
}

.preferences-button { margin-bottom: 10px; }
.story-button { margin-bottom: 20px; }

.fans-inner h2 {
  font-family: "Sofia Pro", sans-serif;
  font-weight: 400;
  font-size: clamp(26px, 23.24px + 0.6vw, 32px);
  line-height: 1.25;
  letter-spacing: 0.04em;
  text-align: center;
  color: #01005b;
  margin-bottom: 30px;
}

.fans-inner p {
  font-family: "Sofia Pro", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.53333;
  letter-spacing: 0.03em;
  text-align: center;
  color: #676869;
  margin-bottom: 55px;
}

.fans-img-box {
  display: flex;
  overflow: hidden;
  justify-content: center;
}

.fans-img-mobile {
  display: none;
}