@font-face {
  font-family: "Sofia Pro";
  src: url("./fonts/SofiaProRegular.woff") format(woff),
  url("./fonts/SofiaProRegular.woff2") format(woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Suisselntl";
  src: url("./fonts/suisseintl.woff") format(woff),
  url("./fonts/suisseintl.woff2") format(woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}